<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SIPB Project List</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="templates/style.css" />
    </head>
    <body>
        <div id="content-block">
            <h2>{{ title }}</h2>

            {% include 'navigationlinks.html' %}
            <a id="top"></a>
            <p>
                Getting involved in one of our projects is one of the most common ways to <a href="https://sipb.mit.edu/join/">join</a> SIPB. If you would like to get involved, please email the primary contact for each project.
            </p>

            <p>
                SIPB has the resources and the expert advice to make your project to improve computing at MIT (better, the world) happen!  Come by <a href="https://sipb.mit.edu/office/">our office at W20-557</a> and say hello.
            </p>

            <p>
                <strong>Please email the SIPB Vice Chair at <a href="mailto:sipb-vice-chair@mit.edu">sipb-vice-chair@mit.edu</a></strong> if you would like to get more information about projects or need help figuring out what to do (they don't bite, and would love to help!).
            </p>


            <p>
                <a href="projectlist.py">All projects</a> |
                <a href="projectlist.py?filter_by=active">Active projects</a> |
                <a href="projectlist.py?filter_by=inactive">Inactive projects</a>
                {% if user %}
                    | <a href="projectlist.py?filter_by=contact&email={{ user_email }}">Your projects</a>
                {% endif %}
                {% if can_approve %}
                    | <a href="projectlist.py?filter_by=awaiting_approval">Projects awaiting approval</a>
                {% endif %}
            </p>

            <table border="1">
            {% include 'projectheader.html' %}
            {% for project in project_list %}
                {% include 'projectrow.html' %}
                <tr class="spacer"><td colspan="3"></td></tr>
            {% endfor %}
            </table>
            <a href="#top">Back to top</a>
        </div>
    </body>
</html>
