body {
    height: 100%;
    width: min(1080px, 95%);
    font-family: Tahoma, Sans, sans-serif;
    color: #000000;
    line-height: 1.5em;
    padding: 0;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #a31f34;
}

h3 {
    color: #941C2F
}

#faq-block {
    margin: 2em;
    margin-right: 6em;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
    margin-bottom: 25px;
}

td {
    padding: 5px;
}

.header {
    font-weight: bold;
    background-color: #a31f34;
    color: white;
    font-size: 120%;
}

textarea {
    font-family: Tahoma, Sans, sans-serif;
}

input[type="text"] {
    font-family: Tahoma, Sans, sans-serif;
}

ul,
li,
dl,
dt,
dd {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: #dddddd;
    }

    a:link {
        color: skyblue;
    }

    a:visited {
        color: pink;
    }
}
