<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <meta charset="UTF-8">
    <style>
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    .gone { border: 0; }
    </style>
</head>
<body>
    <h2>SIPB Project Database -- Add Project Complete</h2>
    <p>Project name: {{ name }}</p>
    <!-- <p>Description: {{ description }}</p>
    <p>Status: {{ status }}</p>
    <p>Link(s): {{ links }}</p>
    <p>Communication channel(s): {{ comm_channels }}</p>
    <p>Contact(s): {{ contacts }}</p>
    <p>Role name(s): {{ role_names }}</p>
    <p>Role description(s): {{ role_descriptions }}</p>
    <p>Role prereqs: {{ role_prereqs }}</p> -->
</body>
</html>