<tr>
    <td>{{ project.name  }}</td>
    <td>{{ project.description }}</td>
    <td>{{ project.status }}</td>
    <td>
        <ul>
            {% for link in project.links %}
                <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </td>
    <td>
        <ul>
            {% for channel in project.comm_channels %}
                <li>
                    {% if user %}
                        {{ channel|urlize }}
                    {% else %}
                        {{ channel }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        <dl>
            {% for role in project.roles %}
                <dt>{{ role.role }}</dt>
                <dd>
                    <i>Description:</i> {{ role.description }}
                </dd>
                <dd>
                    {% if role.prereq == None %}
                        <i>Prereqs:</i> none
                    {% else %}
                        <i>Prereqs:</i> {{ role.prereq }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    </td>
    <td>
        <ul>
            {% for contact in project.contacts %}
                <li>
                    {% if user %}
                        {{ contact.email|urlize }}
                    {% else %}
                        {{ contact.email }}
                    {% endif %}
                    ({{ contact.type }})
                </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        {% if project.can_edit %}
            <a href="editproject.py?project_id={{ project.project_id }}">edit</a>
        {% endif %}
    </td>
</tr>
