<p>
    <label for="name">Project name:</label>
    <input type="text" id="name" name="name" {% if project_info %} value="{{ project_info.name }}" {% endif %}>
</p>
<p>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="24" cols="80">{% if project_info %}{{ project_info.description }}{% endif %}</textarea>
</p>
<p>
    <label>Status:</label>
    <input type="radio" id="active" name="status" value="active" {% if (project_info and project_info.status == "active") or not project_info %}checked{% endif %}>
    <label for="active">Active</label>
    <input type="radio" id="inactive" name="status" value="inactive" {% if project_info and project_info.status == "inactive" %}checked{% endif %}>
    <label for="inactive">Inactive</label>
</p>
<p>
    <label for="links">Link(s) (comma-separated):</label><br>
    <input type="text" id="links" name="links" size="80" {% if project_info %}value="{{ project_info.links_str }}"{% endif %}>
</p>
<p>
    <label for="comm_channels">Communication channel(s) (comma-separated):</label><br>
    <input type="text" id="comm_channels" name="comm_channels" size="80" {% if project_info %}value="{{ project_info.comm_channels_str }}"{% endif %}>
</p>
<p>
    <label for="contacts">Contact(s) (comma-separated, first is primary, only &lt;kerberos&gt;@mit.edu can edit):</label><br>
    <input type="text" id="contacts" name="contacts" size="80" {% if project_info %}value="{{ project_info.contacts_str }}"{% endif %}>
</p>
<p>
    <label>Role(s):</label>
</p>
<div id="roles_container"></div>
{% if project_info %}
    {% for role in project_info.roles %}
        <script type="text/javascript">add_role("{{ role.role|escapejs }}", "{{ role.description|escapejs }}", "{{ role.prereq|escapejs }}");</script>
    {% endfor %}
{% endif %}
<p>
    <input type="button" value="Add another role" onclick="add_role()">
</p>
<p>
    <input type="submit" value="Create project">
</p>
