<tr>
    <td>{{ project.name  }}</td>
    <td>
        {{ project.status }}
        {% if project.approval == 'awaiting_approval' %}
            (awaiting approval)
        {% elif project.approval == 'rejected' %}
            (rejected)
        {% endif %}
    </td>
    <td>
        {% if project.can_edit %}
            <p><a href="editproject.py?project_id={{ project.project_id }}">edit</a></p>
        {% endif %}
        {% if project.can_approve %}
            <p><a href="approveproject.py?project_id={{ project.project_id }}">review</a></p>
        {% endif %}
    </td>
</tr>
<tr>
    <td colspan="3">
        <h4>Description:</h4>
        <p>{{ project.description }}</p>
    </td>
</tr>
<tr>
    <td colspan="3">
        <h4>Link(s):</h4>
        <ul>
            {% for link in project.links %}
                <li>{{ link.link|urlize }}</li>
            {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <td colspan="3">
        <h4>Communications Channel(s):</h4>
        <ul>
            {% for channel in project.comm_channels %}
                <li>
                    {% if user %}
                        {{ channel.commchannel|urlize }}
                    {% else %}
                        {{ channel.commchannel|obfuscate_email }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>
<tr>
    <td colspan="3">
        <h4>Role(s):</h4>
        <dl>
            {% for role in project.roles %}
                <dt>{{ role.role }}</dt>
                <dd>
                    <i>Description:</i> {{ role.description }}
                </dd>
                <dd>
                    {% if role.prereq == None %}
                        <i>Prereqs:</i> none
                    {% else %}
                        <i>Prereqs:</i> {{ role.prereq }}
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    </td>
</tr>
<tr>
    <td colspan="3">
        <h4>Contact(s):</h4>
        <ul>
            {% for contact in project.contacts %}
                <li>
                    {% if user %}
                        {{ contact.email|urlize }}
                    {% else %}
                        {{ contact.email|obfuscate_email }}
                    {% endif %}
                    ({{ contact.type }})
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>
