body{
    height:100%;
    font-family: Tahoma, Sans, sans-serif;
    color: #000000;
    line-height: 1.5em;
    background: #c2c0bf;
    padding: 0;
    margin: 0;
}
h2 {
    color: #a31f34;
}
#content-block{
    margin:  1em;
}

table {
    border-collapse: collapse;
    width:  100%;
}
td {
    border:  1px solid black;
    padding:  5px;
}
tr {
    background-color: white;
}
.header {
    font-weight:  bold;
    background-color: #a31f34;
    color: white;
}
.spacer {
    background-color: #c2c0bf;
}
textarea {
    font-family: Tahoma, Sans, sans-serif;
}
input[type="text"] {
    font-family: Tahoma, Sans, sans-serif;
}
