body{
    height:100%;
    font-family: Tahoma, Sans, sans-serif;
    font-size: 80%;
    color: #000000;
    line-height: 1.5em;
    background: #c2c0bf;
    padding: 0;
    margin: 0;
}
h2 {
    color: #a31f34;
}
table {
    border-collapse: collapse;
}
td {
    padding: 5px;
}
.header td {
    border: white;
    font-weight:  bold;
    background-color: #a31f34;
    color: white;
}
.gone {
    border: 0;
}
tr:nth-child(even){
    background-color: white
}
#content-block{
    margin:  1em;
}
