body{
    height:100%;
    font-family: Tahoma, Sans, sans-serif;
    font-size: 80%;
    color: #000000;
    line-height: 1.5em;
    background: #a1a1a1;
    padding: 0;
    margin: 0;
}
td { padding: 5px; }
.header td { border: 2px solid black; }
.gone { border: 0; }
